/*terapin ke semua elemen di halaman*/
* {
    font-family: "Poppins", system-ui;
}

body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    padding: 20px 0px;
}

/*background navbar*/
.navbar{
    background-color: #FEA041 !important;
    padding: 0;
}

.navbar-brand{
    padding: 0px 20px;
    margin: 0;
}

/*terapin ke keempat item navbar*/
.nav-link{
    color: #fff6ec;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px !important;
}

.nav-link:hover{
    color: #593817;
}

/*terapin ke item navbar 'Home'*/
.nav-link.active{
    color: #593817 !important;
}

/*terapin ke dropdown menu*/
.dropdown-menu.show{
    background-color: #FFF6EC;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.navbar-collapse.collapse.show{
    background-color: #FEA041;
    }

/*terapin ke dropdown item*/
.dropdown-item{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
}

.dropdown-item:hover{
    background-color: #FEA041;
}

/*terapin ke icon navbar toggler*/
.navbar-toggler{
    border: none;
    padding: 10px 20px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    color: #593817;
}

h2{
    font-weight: 600;
    font-size: 35px;
    color: #593817;
}

p{
    font-weight: 400;
    font-size: 16px;
}

.card-title{
    text-align: center;
}

.col-sm-6.p-3{
    display: flex;
    justify-content: center;
}

h1{
    font-weight: 700; 
    font-size: 60px;
}

h3{
    font-weight: 500;
    font-size: 25px;
}

.icon-check{
    width: 30px;
    height: 30px;
}

.col-sm-4.p-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-primary{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #E86F33;
    border: none;
    width: fit-content;
}

.btn.btn-primary:hover{
    background-color: #ae5326;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border-radius: 15px;
    border: none;
}

#card-gallery{
    width: 362px;
}

.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h5.card-title{
    font-size: 20px;
    text-align: start;

}

a.card-link{
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #593817;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(89, 56, 23, 0.5);
}

.card-img{
    width: 69px;
    height: 69px;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contact-icon{
    width: 40px;
    height: 40px;
}

.logo-sekolah{
    width: 200px;
}

.row.g-3{
    padding: 50px 100px;
    gap: 10px;
    background-color: #FFE2C4;
    border-radius: 15px;
}

.form-label{
    color: #593817;
}

.form-control, .form-select{
    border-color: #E5903B;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
    
}

@media only screen and (min-width: 1400px) {
    .col-xxl-1 {width: 8.33%;}
    .col-xxl-2 {width: 16.66%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.33%;}
    .col-xxl-5 {width: 41.66%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33%;}
    .col-xxl-8 {width: 66.66%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-xxl-12 {width: 100%;}
    
}

    /*
    @media only screen and (min-width: 576px) {
        .col-sm-1 {width: 8.33%;}
        .col-sm-2 {width: 16.66%;}
        .col-sm-3 {width: 25%;}
        .col-sm-4 {width: 33.33%;}
        .col-sm-5 {width: 41.66%;}
        .col-sm-6 {width: 50%;}
        .col-sm-7 {width: 58.33%;}
        .col-sm-8 {width: 66.66%;}
        .col-sm-9 {width: 75%;}
        .col-sm-10 {width: 83.33%;}
        .col-sm-11 {width: 91.66%;}
        .col-sm-12 {width: 100%;}
    }
    
    
    
    @media only screen and (min-width: 768px) {
        .col-md-1 {width: 8.33%;}
        .col-md-2 {width: 16.66%;}
        .col-md-3 {width: 25%;}
        .col-md-4 {width: 33.33%;}
        .col-md-5 {width: 41.66%;}
        .col-md-6 {width: 50%;}
        .col-md-7 {width: 58.33%;}
        .col-md-8 {width: 66.66%;}
        .col-md-9 {width: 75%;}
        .col-md-10 {width: 83.33%;}
        .col-md-11 {width: 91.66%;}
        .col-md-12 {width: 100%;}
        
    }
    */
/*tampilannya kurang bagus dengan width di range 576px - 991px*/