/*terapin ke semua elemen di setiap halaman*/
* {
    font-family: "Poppins", system-ui;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    font-size: 16px;
}

img, video, svg {
    max-width: 100%;
    max-height: 100%;
}

h1{
    font-weight: 700; 
    font-size: 3.2rem;
}

h2{
    font-weight: 600;
    font-size: 2.2rem;
    color: #593817;
}

h3{
    font-weight: 500;
    font-size: 1.6rem;
}

p{
    font-weight: 400;
    font-size: 1rem;
}

a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #593817;
}

/*ukuran container global*/
.container{
    width: 100%;
    height: 100%;
}

/*tinggi logo sekolah di navbar*/
.img-nav{
    height: 6rem;
}

/*warna teks item navbar*/
.nav-link{
    color: #fff6ec;
    font-size: 1rem;
    font-weight: 600;
}

/*pengecualian untuk warna teks item navbar 'Home'*/
.nav-link.active{
    color: #593817 !important;
}

/*ketika kursor diarahin ke item navbar dan diklik, warna teks akan berubah*/
.nav-link:hover, .nav-link:active{
    color: #593817 !important;
}

/*ketika dropdown lagi terbuka, warna teks 'Programs' tetap sama ketika sudah diklik*/
.nav-link.show{
    color: #593817 !important;
}

/*ketika item navbar udah diklik warnanya akan kembali seperti semula*/
.nav-link:visited{
    color: #FFF6EC;
}

/*warna background dropdown menu*/
.dropdown-menu.show{
    background-color: #FFF6EC;
}

/*ukuran teks navbar di item dropdown*/
.dropdown-item{
    font-size: 1rem;
    font-weight: 400;
}

/*ketika kursor diarahin ke item dropdown, warna background akan berubah*/
.dropdown-item:hover{
    background-color: #FEA041;
}

/*menghilangkan shadow di ikon navbar-toggler ketika diklik (ikon garis tiga)*/
.navbar-toggler:focus{
    box-shadow: none;
}

/*warna ikon navbar-toggler (garis tiga)*/
.navbar-toggler-icon{
    color: #593817;
}

/*layout teks di banner*/
.carousel-caption{ 
    color: #FFF6EC;
    line-height: 10rem;
}

/*ukuran judul h1 di banner*/
.carousel-caption > h1{
    line-height: 6rem;
}

/*ukuran slogan di banner*/
.carousel-caption > p{
    font-weight: 500; 
    font-size: 1.8rem;
}

/*warna background*/
.bg-white{
    background-color: white;
}

/*warna background*/
.bg-cream{
    background-color: #FFE2C4;
}

/*warna background*/
.bg-orange{
    background-color: #FEA041;
}

/*warna teks di card what children learn*/
.card-body.p-4 > .card-title, .card-body.p-4 > .card-text{
    color: #FFF6EC;
}

/*warna background card inside classroom*/
#bg-inside-classroom{
    background-color: #E86F33;
}

/*warna background card outside play*/
#bg-outdoor-play{
    background-color: #FEA041;
}

/*warna teks list fasilitas*/
#list-facility{
    color: black;
}

/*ukuran ikon check di bagian list fasilitas*/
.icon-check{
    width: 2rem;
    height: 2rem;
}

/*warna background dan lebar card program sekolah*/
.bg-programs{
    background-color: #FEA041;
    width: 21rem;
}

/*warna background dan lebar card news*/
.bg-news{
    background-color: #FFF1E3;
    width: 25rem;
}


/*lebar card gallery*/
.bg-gallery{
    width: 23rem;
}

/*warna background dan teks di button*/
.btn.btn-primary{
    background-color: #E86F33;
    color: #fff6ec;
    font-size: 1rem;
}

/*ketika kursor diarahin ke button, warnanya jadi berubah*/
.btn.btn-primary:hover{
    background-color: #ae5326;
}

/*ketika kursor diarahin ke card, akan muncul shadow*/
.card:hover{
    box-shadow: 0 0.24rem 0.5rem 0 rgba(89, 56, 23, 0.5);
}

/*modifikasi card-title*/
.card-title{
    color: #593817;
}

/*ukuran teks judul berita dan teks header testimoni*/
.headline-news, .testimonial{
    font-size: 1.3rem;
}

/*ukuran teks tanggal dan konten news*/
.card-text.news{
    font-size: 0.8rem;
}

/*warna background dan lebar card testimoni*/
.bg-testimonial{
    background-color: #FFE2C4;
    width: 24rem;
}

/*tinggi poto di bagian program*/
#programs{
    height: 21rem;
}

/*tinggi poto di bagian news*/
#news{
    height: 19rem;
}

/*tinggi poto di bagian gallery*/
#gallery{
    height: 15rem;
}

/*ukuran poto profil di testimoni*/
.card-img{
    width: 4rem;
    height: 4rem;
}

/*ukuran ikon di footer*/
.contact-icon{
    width: 2.5rem;
    height: 2.5rem;
}

/*ukuran logo sekolah di footer*/
.logo-sekolah{
    width: 12rem;
}

/*gmaps di footer*/
.map{
    width: 100%; 
    height: 50%;
}

/*modif background form*/
.row.g-3{
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #FFE2C4;
}

/*warna teks form label*/
.form-label{
    color: #593817;
}

/*warna border kolom form*/
.form-control, .form-select{
    border-color: #E5903B;
}

/*ukuran banner di halaman utama*/
.img-slide-home{
    height: 50rem;
    filter: brightness(50%)contrast(50%);
}

/*ukuran banner di halaman selain halaman utama*/
.img-slide{
    height: 30rem;
    filter: brightness(50%)contrast(50%);

}

/*ukuran foto carousel di halaman programs*/
.img-slide-carousel{
    height: 50rem;
}

/*modifikasi warna di pagination*/
.page-link{
    color: #fff6ec;
    background-color: #FEA041 !important;
    border-color: #fff6ec !important;
}

/*kalo kursor diarahin ke pagination dan diklik, warnanya berubah*/
.page-link:hover, .page-link:active{
    color: #fff6ec;
    background-color: #E86F33 !important;
}

/*kalo udah klik pagination, warna teks di pagination tetap sama*/
.page-link:visited{
    color: #fff6ec;
}

/*media query untuk web responsive*/
/* untuk layar handphone */
@media only screen and (width <= 426px) {
    .container.p-5{
        max-width: 100%;
        padding: 1rem !important;
        margin: 0;
    }

    .img-slide-home{
        height: 30rem;
    }

    nav > .container{
        margin: 0;
        max-width: 100%;
    }
    
    .col-md-5{
        width: 100%;
    }

    .img-slide-carousel{
        height: 100%;
    }

    .row.g-3{
        padding: 1.5rem;
    }

    .carousel-caption{
        line-height: 5rem;
        top: 50% !important;
    }

    h1{
        font-size: 2rem;
    }
    
    .carousel-caption > h1{
        line-height: 3.3rem;
    }
    
    .carousel-caption > p{
        font-size: 1rem;
    }
    
    h2{
        font-size: 1.7rem;
    }
    
    h3{
        font-size: 1.3rem;
    }

    p, label, .form-control, .nav-link, .btn.btn-primary, .page-link{
        font-size: 0.9rem;
    }

    .headline-news, .testimonial{
        font-size: 1.1rem;
    }

    .img-nav{
        height: 5.5rem;
    }

    .row.p-5, .row.px-5.py-3{
        padding: 1rem !important;
    }

    .contact-icon{
        width: 2rem;
        height: 2rem;
    }

    .dropdown-item{
        font-size: 0.9rem;
        font-weight: 400;
    }

    .logo-sekolah{
        width: 9rem;
    }

    .icon-check{
        width: 1.9rem;
        height: 1.9rem;
    }
}

@media only screen and (426px <= width <= 577px) {
    .row.g-3{
        padding: 2rem;
    }
}

@media only screen and (426px <= width <= 768px){
    .logo-sekolah{
        width: 10rem;
    }
}

@media only screen and (576px <= width < 940px){
    footer > .container.p-5 > .row > .col-md-4 > .container.d-flex{
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center;
    }
}

@media only screen and (426px <= width <= 991.98px){
    h1{
        font-size: 2.3rem;
    }
    
    .carousel-caption > h1{
        line-height: 3.8rem;
    }
    
    .carousel-caption{
        line-height: 5rem;
    }
    
    .carousel-caption > p{
        font-size: 1.5rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1.3rem;
    }

    .img-slide-home{
        height: 30rem;
    }

    .headline-news, .testimonial{
        font-size: 1.2rem;
    }

    .img-slide-carousel{
        height: 30rem;
    }

    .row.p-5{
        padding: 1rem 0 1rem 0 !important;
    }
}

/* untuk layar tablet */
@media only screen and (768px <= width <= 991.98px){
    .container.p-5{
        max-width: 100%;
        padding: 2rem !important;
    }

    .col-md-4{
        min-width: 300px;
    }

    .col-md-5{
        width: 60%;
    }
    
    .col-md-7{
        width: 100%;
    }

    footer > div.container{
        flex-direction: row;
    }
    
    footer > .col-md-4{
        min-width: 300px;
    }

    .row{
        justify-content: center;
    }

    .row.row.g-3{
        justify-content: start;
    }
}

@media only screen and (426px <= width <= 768px){
    .container.p-5{
        margin: 0;
        max-width: 100%;
    }

    nav > .container{
        margin: 0 48px 0 48px;
        max-width: 100%;
    }
}