/*terapin ke semua elemen di halaman*/
* {
    font-family: "Poppins", system-ui;
}

body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    padding: 20px 0px;
}

/*background navbar*/
.navbar{
    background-color: #FEA041 !important;
    padding: 0;
}

.navbar-brand{
    padding: 0px 20px;
    margin: 0;
}

/*terapin ke keempat item navbar*/
.nav-link{
    color: #fff6ec;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px !important;
}

.nav-link:hover{
    color: #593817;
}

/*terapin ke item navbar 'Home'*/
.nav-link.active{
    color: #593817 !important;
}

/*terapin ke dropdown menu*/
.dropdown-menu.show{
    background-color: #FFF6EC;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.navbar-collapse.collapse.show{
    background-color: #FEA041;
    }

/*terapin ke dropdown item*/
.dropdown-item{
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}

.dropdown-item:hover{
    background-color: #FEA041;
}

/*terapin ke icon navbar toggler*/
.navbar-toggler{
    border: none;
    padding: 10px 20px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    color: #593817;
}

h2{
    font-weight: 600;
    font-size: 35px;
    color: #593817;
}

p{
    font-weight: 400;
    font-size: 16px;
}

.card-title{
    text-align: center;
}

.col-sm-6.p-3{
    display: flex;
    justify-content: center;
}

h1{
    font-weight: 700; 
    font-size: 60px;
}

h3{
    font-weight: 500;
    font-size: 25px;
}

.icon-check{
    width: 30px;
    height: 30px;
}

.col-sm-4.p-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.btn-primary{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #E86F33;
    border: none;
    width: fit-content;
}

.btn.btn-primary:hover{
    background-color: #ae5326;

}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border-radius: 15px;
    border: none;
}

.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h5.card-title{
    font-size: 20px;
    text-align: start;

}

a.card-link{
    font-size: 13px;
    color: #593817;
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(89, 56, 23, 0.5);
}

.card-img{
    width: 69px;
    height: 69px;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}